<!doctype html>
<title>{% block title %}{% endblock %} - TV Recorder</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>TV Recorder</h1>
  <ul>
      <li><a href="/">On Now</a>
      <li><a href="/channels/1">Channels</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
