<!doctype html>
<title>{% block title %}{% endblock %} - TV Recorder</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>TV Recorder</h1>
  <ul>
      <li><a href="/">On Now</a>
      <li><a href="/channels/1">Channels</a>
  </ul>
</nav>
{% if lenurecs > 0 %}
    <section class="upcoming">
        <div class="upcomingrecordings">
            <p>There are {{ lenurecs }} upcoming recordings</p>
            <p>Next: {{ upcoming[0]["program"]["title"] }} on
            {{ upcoming[0]["channel"]["name"] }} at
            {{ upcoming[0]["starttime"] }}
            </p>
        </div>
    </section>
{% endif %}
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="flash {{ category }}">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
