{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}What's On Now{% endblock %}</h1>
{% endblock %}

{% block content %}
<table>
    <tr>
        {% for heading in headings %}
            <th>{{ heading }}</th>
        {% endfor %}
    </tr>
    {% for line in lines %}
        <tr>
            {% for cell in line %}
                {% if "link" in cell %}
                    <td class="{{ cell['class'] }}">
                        <a class="{{ cell['class'] }}" href="{{ cell['link'] }}">
                            {{ cell["data"] }}
                        </a>
                    </td>
                {% elif cell['class'] == "recordtick" %}
                    {% checked="" if cell["data"] == 0 else " checked" %}
                    <td class="{{ cell['class'] }}">
                        <input type="checkbox" value="{{ cell['link'] }}"{{ checked }}/>
                    </td>
                {% else %}
                    <td class="{{ cell['class'] }}">{{ cell["data"] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}

