[Unit]
Description=TV Record Monitor
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=chris
ExecStart=/home/chris/.local/bin/monitortv

[Install]
WantedBy=multi-user.target
